* {
  float: none;
  background: #fff;
  color: #000;
}

/* Grid Framework */
.row { display:table; width:100%; margin:0 auto }
.cell { display:table-cell; vertical-align:top;}

body { font-size: 80%; }